/*Version 2.3*/
body {
  font-family: Arial;
  padding: 20px;
  background: steelblue;
  font-size:100%;
}
/* Header/Blog Title */
.header {
  padding: 10px;
  font-size: 100%;
  text-align: center;
  background: white;
  border-radius:0.5em;
}
h2.Results{
	font-size:1.5em;
}
/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 75%;
  border-radius:0.5em;
}
/* Right column */
.rightcolumn {
  float: left;
  width: 24%;
  padding-left:5px;
  border-radius:0.5em;
}
/* images */
.imgs {
  background-color: white;
  width: 100%;
  height:auto;
  
}
figure img{
	max-height:10%;
	max-width:30%;
	border-color:gray;
	border-style: solid;
	border-width: 0.4em;
	display:inline;
	margin-left: auto;
	margin-right: auto;
	border-radius:0.5em;
}
figure{
	width:auto;
	margin:0;
	
}
.sidebar figure img{
	max-height:25%;
	max-width:95%;
	border-color:gray;
	border-style: solid;
	border-width: 0.4em;
	display:inline;
	margin-left: auto;
	margin-right: auto;
	border-radius:0.5em;
}
.sidebar figure{
	width:auto;
	margin:0;
}
/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 10px;
  margin-top: 20px;
  border-radius:0.5em;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
  border-radius:0.5em;
}
/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
  /* This adjust the images in ech post to size with the smaller screen*/
  figure img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: auto;
	max-height:10em;
	max-width:90%;
	
  }
  /* Adjust the profile picture size with screen size*/
  .sidebar figure img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: auto;
	max-height:20em;
	max-width:90%;
	
  }
  /*Bigger font for the smaller screen*/
	body {
	font-size:120%;
	}  
}


/*START CUSTOM STYLES*/
ul.bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  border-radius:0.5em;
}
/*Mades the nav bar go to the left*/
.bar li {
  float: left;
}
/* make each element of nav bar a certain size*/
.bar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.bar li a:hover {
  background-color: #111;
}

.title{
	padding: 1em;
	font-size:2em;	
}

h3{
	margin:0;
	font-size:80%;
	padding-top:0.5em;
	padding-bottom:0.5em;
}
.captions{
	color:gray;
	font-style:italic;
}
.credits_sum{
	font-size:80%;
	color:gray;
	font-style:italic;
}
.first-letter {
  font-size: 2em;
  line-height: 1em;
}
.indent{
	text-indent: 1em;
}